{% extends 'app/base.html' %}

{% block content %}

<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Tag
        <small>List</small>
    </h1>                    
</section>

<!-- Main content -->
<section class="content">
    <!-- Your Page Content Here -->                    
    <div class="box box-default">            
        <div class="box-body">             
            <a class="btn btn-default" href="{% url 'transac:tag_add' %}"><span class="fa fa-plus-circle"></span></a>

            <p></p>
            {{ request.session.teste }}        
            <div class="table-responsive">
                <table class="table table-hover table-selectable" style="max-width:300px">                    
                    {% for tag in tags %}                    
                    <tr id="{{ tag.pk }}">
                        <td class="colunatable"> {{ tag.descricao }}</td>
                        <td class="colunatable"><input type="color" disabled value="{{ tag.cor }}"></input></td>                                                
                    </tr>
                    {% endfor %}
                </table>
            </div>            
        </div>
    </div>

</section><!-- /.content -->	

{% endblock %}

{% block javascript %}

<script type="text/javascript">        

    $(".colunatable").click(function(e) {
        chave = $(this).closest("tr").attr("id")
        window.location.href = "/transac/tag_view/" + chave + "/";
    });

</script>
{% endblock javascript %}