{% extends 'app/base.html' %}

{% block content %}

<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Inbox
        <small>Mensagens</small>
    </h1>                    
</section>

<!-- Main content -->
<section class="content">
    <!-- Your Page Content Here -->                    
    <div class="box box-default">            
        <div class="box-body">             
            
            <a class="btn btn-default" href="{% url 'transac:transacoes' %}?year={{ transacao.dt_vencimento|date:"Y"  }}&month={{ transacao.dt_vencimento|date:"m" }}">Voltar</a>
            <a class="btn btn-default" href="{% url 'transac:transacao_edit' pk=transacao.pk %}">Editar</a>
            <p>{{ transacao.descricao }}</p>
            <p>{{ transacao.valor }}</p>
                    
                
            
        </div>
    </div>

</section><!-- /.content -->	

{% endblock %}

{% block javascript %}

<script type="text/javascript">        

    

</script>
{% endblock javascript %}