{% extends 'app/base.html' %}

{% block content %}

<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Contas
        <small>Lista</small>
    </h1>                    
</section>

<!-- Main content -->
<section class="content">
    <!-- Your Page Content Here -->                    
    <div class="box box-default">            
        <div class="box-body">             
            <a class="btn btn-default" href="{% url 'financ:conta_add' %}"><span class="fa fa-plus-circle"></span></a>
            <p></p>            
            <div class="table-responsive">
                <div style="max-width:400px;">
                    <table class="table table-hover table-selectable" style="max-width:300px" id="table_conta">  
                        <thead>
                            <tr>
                                <th>Descrição</th>                                                  
                            </tr>
                        </thead>
                        <tbody>
                            {% for conta in contas %}                    
                            <tr id="{{ conta.pk }}">
                                <td class="colunatable"> {{ conta.descricao }}</td>                                
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>            
        </div>
    </div>

</section><!-- /.content -->	

{% endblock %}

{% block javascript %}
{% load static %}
<script type="text/javascript" src="{% static 'app/plugins/datatables/jquery.dataTables.min.js'  %}"></script>
<script type="text/javascript" src="{% static 'app/plugins/datatables/dataTables.bootstrap.min.js'  %}"></script>
<script type="text/javascript">   

    $(document).ready(function(){                
        $('#table_conta').DataTable({
          "paging": false,
          "lengthChange": false,
          "searching": false,
          "ordering": true,
          "info": false,
          "autoWidth": false,  
          "dom": '<"top"i>rt<"bottom"flp><"clear">'
        });
    });     

    $(".colunatable").click(function(e) {
        chave = $(this).closest("tr").attr("id")
        window.location.href = "/financ/conta_view/" + chave + "/";
    });

</script>
{% endblock javascript %}