{% extends 'app/base.html' %}

{% block content %}

<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Despesas
        <small>Lista</small>
    </h1>                    
</section>

<!-- Main content -->
<section class="content">
    <!-- Your Page Content Here -->                    
    <div class="box box-default">            
        <div class="box-body">             
            <a class="btn btn-default" href="{% url 'financ:despesa_add' %}"><span class="fa fa-plus-circle"></span></a>

            <p></p>

            <a class="btn btn-default" href="{% url 'financ:despesas' %}?year={{ mes.anterior|date:"Y"  }}&month={{ mes.anterior|date:"m" }}"><span class="fa fa-chevron-circle-left"></span></a>                        
            <a class="btn btn-default btn-mes" data-toggle="modal" data-target="#div-btn-mes">{{ mes.atual|date:"F, Y" }}</a>                    
            <a class="btn btn-default" href="{% url 'financ:despesas' %}?year={{ mes.proximo|date:"Y"  }}&month={{ mes.proximo|date:"m" }}"><span class="fa fa-chevron-circle-right"></span></a>                            
            
            <div class="modal fade" tabindex="-1" role="dialog" id="div-btn-mes">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                            </button>
                            <h4 class="modal-title">Selecione um periodo:</h4>
                        </div>
                        <div class="modal-body">
                            <select class="mes selectpicker show-tick" data-size="8" data-width="fit">
                                <option value="01">Janeiro</option>
                                <option value="02">Fevereiro</option>
                                <option value="03">Março</option>
                                <option value="04">Abril</option>
                                <option value="05">Maio</option>
                                <option value="06">Junho</option>
                                <option value="07">Julho</option>
                                <option value="08">Agosto</option>
                                <option value="09">Setembro</option>
                                <option value="10">Outubro</option>
                                <option value="11">Novembro</option>
                                <option value="12">Dezembro</option>
                            </select>
                            
                            <select class="ano selectpicker show-tick" data-size="8" data-width="fit">
                                <option value="2007">2007</option>
                                <option value="2008">2008</option>
                                <option value="2009">2009</option>
                                <option value="2010">2010</option>
                                <option value="2011">2011</option>
                                <option value="2012">2012</option>
                                <option value="2013">2013</option>
                                <option value="2014">2014</option>
                                <option value="2015">2015</option>
                                <option value="2016">2016</option>
                                <option value="2017">2017</option>
                                <option value="2018">2018</option>
                                <option value="2019">2019</option>
                            </select>                                    
                            <a class="btn btn-default btn-mes-ok"><span class="fa fa-check"></span></a>                        
                        </div>                        
                    </div>
                </div>
            </div>            
            

            <div class="table-responsive">
                <div style="max-width:900px;">
                    <table class="table table-bordered table-selectable" id="table_despesa">                    
                        <thead>
                            <th></th>
                            <th>Despesa</th>
                            <th>Categoria</th>
                            <th>Vencimento</th>
                            <th>Valor</th>                    
                        </thead>
                        <tbody>
                            {% for despesa in despesas %}                                        
                            <tr id="{{ despesa.pk }}" >
                                <td data-order="{{ despesa.pago }}"><i class="fa fa-circle" {% if despesa.pago == False %} style="color:red" {% else %} style="color:#41db53"{% endif %}></i></td>
                                <td class="colunatable"> {{ despesa.descricao }}</td>                        
                                <td class="colunatable"><i class="fa fa-circle" style="color: {{ despesa.categoria.cor }}"></i> {{ despesa.categoria.descricao }}</td>
                                <td class="colunatable"><span style="display: none;">{{ despesa.dt_vencimento|date:"Ymd" }}</span>{{ despesa.dt_vencimento|date:"j/b/Y" }}</td>                        
                                <td class="colunatable" data-order="{% load l10n %}{{ despesa.valor|unlocalize }}">{{ despesa.valor }}</td>                                                
                            </tr>                
                            {% endfor %}
                        </tbody>

                    </table>
                </div>
            </div>            
        </div>
    </div>

</section><!-- /.content -->	

{% endblock %}

{% block javascript %}

{% load static %}
<script type="text/javascript" src="{% static 'app/plugins/datatables/jquery.dataTables.min.js'  %}"></script>
<script type="text/javascript" src="{% static 'app/plugins/datatables/dataTables.bootstrap.min.js'  %}"></script>

<script type="text/javascript">

    $(document).ready(function(){                
        $('#table_despesa').DataTable({
          "paging": false,
          "lengthChange": false,
          "searching": true,
          "ordering": true,
          "info": false,
          "autoWidth": false,  
          "dom": '<"top"i>rt<"bottom"flp><"clear">'
        });
    });

    $(".colunatable").click(function(e) {
        chave = $(this).closest("tr").attr("id")
        window.location.href = "view/" + chave + "/";
    });        
    $(".btn-mes-ok").click(function(e) {                
        v_ano = $('.ano').selectpicker('val')
        v_mes = $('.mes').selectpicker('val')        
        window.location.href = "{% url 'financ:despesas' %}?year=" + v_ano + "&month=" + v_mes;
    });        
    $('.mes').val('{{ mes.atual|date:"m" }}'); 
    $('.ano').val('{{ mes.atual|date:"Y" }}');      

</script>
{% endblock javascript %}