{% extends 'app/base.html' %}

{% block content %}

<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Despesa
        <small>Edita</small>
    </h1>                    
</section>

<!-- Main content -->
<section class="content">
    <!-- Your Page Content Here -->                    
    <div class="box box-default">            
        <div class="box-body">             
            <form method="POST">
                <table class="table" style="max-width:500px;">  {% csrf_token %}
                    {{ form.as_table }}                    
                </table>
                <button class="btn btn-default" type="submit">Salvar</button>
                <a class="btn btn-default" href="{% url 'financ:despesa_view' pk=despesa.pk %}?year={{ despesa.dt_vencimento|date:"Y"  }}&month={{ despesa.dt_vencimento|date:"m" }}">Cancelar</a>
            </form>
        </div>
    </div>

</section><!-- /.content -->	

{% endblock %}

{% block javascript %}

<script type="text/javascript">        

    {% if param == 'all' %}
        $("#id_dt_vencimento").prop("disabled", true);
        $("#id_pago").prop("disabled", true);        
    {% endif %}

</script>
{% endblock javascript %}