{% extends 'app/base.html' %}

{% block content %}

<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Inbox
        <small>Mensagens</small>
    </h1>                    
</section>

<!-- Main content -->
<section class="content">
    <!-- Your Page Content Here -->                    
    <div class="box box-default">            
        <div class="box-body">             
            
            <a class="btn btn-default" href="{% url 'financ:despesas' %}?year={{ despesa.dt_vencimento|date:"Y"  }}&month={{ despesa.dt_vencimento|date:"m" }}">Voltar</a>
            <a class="btn btn-default" href="{% url 'financ:despesa_edit' pk=despesa.pk %}">Editar</a>
            <a id="bt-del" class="btn btn-default" 
               data-toggle="confirmation" data-placement="bottom"
               data-btn-ok-label="Confirmar" data-btn-ok-icon="glyphicon glyphicon-share-alt"
               data-btn-ok-class="btn-success"
               data-btn-cancel-label="Cancelar" data-btn-cancel-icon="glyphicon glyphicon-ban-circle"
               data-btn-cancel-class="btn-danger"
               data-title="Tem certeza?" data-content="A despesa será excluida permanentemente.">Deletar </a>          
            <p/>
            <table class="table" style="max-width:500px;">
                <tr>
                    <th>Valor</th>
                    <td>{{ despesa.valor }}</td>                    
                </tr>
                <tr>
                    <th>Descrição</th>
                    <td>{{ despesa.descricao }}</td>                    
                </tr>
                <tr>
                    <th>Categoria</th>
                    <td>{{ despesa.categoria.descricao }}</td>                    
                </tr>
                <tr>
                    <th>Vencimento</th>
                    <td>{{ despesa.dt_vencimento }}</td>                    
                </tr>
                <tr>
                    <th>Pago?</th>
                    <td>{{ despesa.pago }}</td>                    
                </tr>
                
            </table>            
        </div>
    </div>

</section><!-- /.content -->	

{% endblock %}

{% block javascript %}

<script type="text/javascript">        

    $('#bt-del').confirmation({
        rootSelector: '[data-toggle=confirmation]',
        onConfirm: function () {
            var categoria_list = [];        
            categoria_list.push({{ categoria.pk }});
            $.ajax({
                url:"{% url 'financ:categoria_del' %}",
                type: "POST",            
                data: {categoria_lista: categoria_list, csrfmiddlewaretoken: '{{ csrf_token }}'},
                success:function(response){
                window.location.href= "{% url 'financ:categoria_list' %}"
                },
                complete:function(){},
                error:function (xhr, textStatus, thrownError){}
            });
        }
    });    

</script>
{% endblock javascript %}